﻿@{Layout = null;}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home RaceTrack</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9a6377a74d.js" crossorigin="anonymous"></script>
    <style>
        html, body, .full-height {
            height: 100%;
        }
        .chklbl{
            margin-right:10px
        }
        .fa-check-circle {
            color: #1dae30;
            font-size: 1.7em;
        }
        .fa-times-circle {
            color: #d81b1b;
            font-size: 1.7em;
        }
        .toast {
            display:none;position:fixed;
            width:300px; height:100px; text-align:center;
            background-color:#d81b1b; color:#fff;
            border-radius:20px; padding:20px;
            left:calc(50% - 150px); top:50px; z-index:99999; cursor:pointer;
        }
        .loading {
            position: fixed;
            width: 100%;
            height: 100%;
            padding-top:20%;
            text-align: center;
            background-color: #111;
            color: #fff;
            left: 0;
            top: 0;
            z-index: 99999;
        }
    </style>
    <script src="~/Content/JavaScript.js"></script>
</head>
<body>
    <div class="loading">Please Wait ...</div>
    <div class="toast"></div>
    <div class="container-fluid full-height">
        <div class="row full-height">
            <div class="col-sm-6 full-height" style="background-color: #fff; color: #000;">
                <h2>All Vehicals <i class="fas fa-car"></i> <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" data-backdrop="static">Add New Vehicle</button></h2>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Vehicle</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="type">Type:</label>
                                    <select class="form-control" id="type">
                                        <option value="">Select</option>
                                        <option value="0">Car</option>
                                        <option value="1">Truck</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="null">Inspections:</label>
                                    <div class="checkbox ins-chk-box"></div>
                                </div>
                                <button type="button" class="btn btn-success pull-right add-new-vehicle">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Re-Inspect from Begining</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title2">Title:</label>
                                    <input type="text" class="form-control" id="title2" readonly="">
                                </div>
                                <div class="form-group">
                                    <label for="type2">Type:</label>
                                    <input type="text" class="form-control" id="type2" readonly="">
                                </div>
                                <div class="form-group">
                                    <label for="null">Inspections (Not showing previously checked one):</label>
                                    <div class="checkbox re-ins-chk-box"></div>
                                </div>
                                <input type="hidden" class="form-control" id="vehicleId2">
                                <button type="button" class="btn btn-success pull-right re-inspect-vehicle">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:20px"></th>
                                <th>Type</th>
                                <th>Title</th>
                                <th class="text-center">Inspection?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="vlist"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 full-height" style="background-color: #111; color: #fff;">
                <h2>Track <i class="fas fa-flag-checkered"></i></h2>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tlist"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
